.listpage {
    width: 100%;
    padding: 0 3rem;
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
}

@media(max-width:1200px) {
    .listpage {
        padding: 0 2rem;
        margin-top: 3rem;
    }
}
@media(max-width:767px) {
    .listpage {
        padding: 0 1rem;
        margin-top: 1rem;
    }
}