.embla {
    width: 100%;
    overflow: hidden;
  }
  .embla__container {
    width: 100%;
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    width: 100%;
  }
  .embla__slide img{
    width: 100%;
  }
  